/* All Pages */

/* The navbar container */
.navi {
    overflow: hidden;
    background-color: aliceblue;
    height: 70px;
}

/* Navbar links */
#linkedin {
    border-radius: 25%;
}

.navi a {
    float: right;
    display: block;
    color: steelblue;
    padding:  20px 30px;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    letter-spacing: 5px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

/* Hover color */
.navi a:hover {
    background-color: snow;
    color: black;
}

/* Hover color */
.active {
    background-color: snow;
    color: black;
}

body{
     background-color: slategrey;
     color: white;
     font-family: Arial, Helvetica, sans-serif;
     text-align: center;
     letter-spacing: 5px;
     font-size: 15px;
}

.header {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    letter-spacing: 5px;
    font-size: 50px;
    margin-bottom: 20px;
}

button {
  background-color: aliceblue;
  border: none;
  color: steelblue;
  padding: 15px 30px;
  margin: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  letter-spacing: 5px;
}

/* Default Page */
#profile {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
}

#fact-container {
    margin-top: 20px;
}

/* Experience Page */
.colContainer{
    padding-top: 50px;
}

.experienceCol {
    float: left;
    width: 33.33%;
}

@media screen and (max-width: 1800px) {
  .experienceCol {
      width: 50%;
  }
}

@media screen and (max-width: 800px) {
  .experienceCol {
      width: 100%;
  }
}

.summary{
    visibility: hidden;
}

.summary.visible {
    visibility: visible;
    width: 600px;
    letter-spacing: 3px;
    margin-left: auto;
    margin-right: auto;
}

.list li {
    text-align: left;
    padding: 10px 0px; 
}

.textButton {
    background-color: slategrey;
      border: none;
}

/* Academics Page */
.section {
    padding: 30px;
    height: 400px;
}

span.academicCol {
    display: inline-block;
    float: left;
    padding: 0px 30px;
}

.academicCol li {
    letter-spacing: 3px;
    text-align: left;
    padding: 10px 0px; 
}

/* Contact Page */
.commentCol {
    float: left;
    width: 50%;
}

#submitForm{
    visibility: hidden;
}

#submitForm.visible {
    visibility: visible;
    float: right;
    padding: 30px;
}

#comment-container {
    letter-spacing: 3px;
    list-style-type: none;
    padding: 30px;
    float: left;
    text-align: left;
}

li.comment {
    margin: 10px;
}

span.comment {
    display: inline-block;
    padding: 10px;
}

.button {
    background-color: aliceblue;
    border: none;
    color: steelblue;
    padding: 15px 30px;
    margin: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    letter-spacing: 5px;
}

.smallDefaultButton {
    padding: 10px;
}

#sort {
    margin: 0px;
}

.comment img {
    width: 200px;
    display: block;
}